# Quarto artifacts
.quarto

# Results of compilation
*.pdf
*.html
# but keep the script the extension ships
!_extensions/**/*.html

# Build artifacts
_acuity/
index_files/
index.typ
site_libs/
build/

# Other
**/.DS_Store

/.quarto/
**/*.quarto_ipynb

/.luarc.json
